<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <h3>Thymeleaf Flow Control Attributes</h3>
    <ul>
      <li th:each="sv, state: ${dssv}">
        <a th:href="@{|/students?i=${state.index}|}">[[${sv.name}]]</a>
      </li>
    </ul>
    <h3>Student Details</h3>
    <ul th:object="${sv}">
      <li><i>Name:</i> <b th:text="*{name}"></b></li>
      <li><i>Marks:</i> <b th:text="*{marks}"></b></li>
      <li><i>Gender:</i> <b th:text="*{gender}"></b></li>
      <li><i>Email:</i> <b th:text="*{contact.email}"></b></li>
      <li>
        <i>Name:</i>
        <ul>
          <li th:each="sub, state: *{subjects}">
            <b th:text="${sub}"></b>
          </li>
        </ul>
      </li>
      <li th:switch="*{#arrays.length(subjects)}">
        <i>Time: </i>
        <b th:case="1">Mới vào</b>
        <b th:case="2">Đang học</b>
        <b th:case="*">Sắp ra trường</b>
      </li>
      <li th:if="*{marks > 9}"><i>Title: </i>Golden Bee</li>
    </ul>
</body>
</html>